*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #333;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 50rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header .site-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: #96b984;
}

header nav a {
  font-size: 0.85rem;
  margin-left: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 2rem;
  max-width: 50rem;
  line-height: 2;
}

main h1 {
  color: #444;
  margin: 0;
}

a {
  color: #82a274;
  text-decoration: none;
}

img {
  max-width: 100%;
}

pre {
  background-color: #f5f2f0;
  padding: 0.75rem;
  font-size: 0.85rem;
  line-height: 1.5;
  overflow-x: auto;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul.posts {
  list-style: none;
  padding-left: 0;
}

ul.posts > li {
  margin-top: 1rem;
}

div.timestamp {
  font-size: 0.8rem;
  color: #666;
  display: block;
}
